<% content_for :title, "View All Products" %>

<!--This will show the specific user's products-->
<%= all_products_content %>

<span><%= link_to 'Add New Product', new_product_path %></span>

<%= render 'shared/search' %>

<div id="all-products" class="row">
	<%= render :partial => 'products', :locals => { :products => @products } %>
</div>

